body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3em;
    margin: .1em;
}
h2{
    font-size: 2.6em;
    margin: .1em;
}
h3{
    font-size: 2.2em;
    margin: .1em;
}
h4{
    font-size: 1.8em;
    margin: .1em;
}
h5{
    font-size: 1.4em;
    margin: .1em;
}
h6{
    font-size: 1em;
    margin: .1em;
}
a{
    text-decoration: none;
  }
a:link{
	color: #089;
    }
a:visited{
	color: #f17;
	}
a:hover{
	color: #80b;
	}
a:active{
	color: #096;
	}
.text-blue{
    color: #66f;
}
.bg-blue{
    background: #17f;
    color: #fff;
}
.bg-green{
    background: #6f6;
    color: #000;
}

button, 
insert[type='button'], 
insert[type='submit'], 
.btn{
    border: .01rem solid #aaa;
    background: #fff;
    font-size: 1.5rem;
    margin: 3px;
    border-radius: .3rem;
}

button.lg,
insert[type='button'].lg,
insert[type='submit'].lg,
.btn.lg{
    font-size: 2rem !important;
    margin: 5px !important;
}

button.md,
insert[type='button'].md,
insert[type='submit'].md,
.btn.md{
    font-size: 1.5rem !important;
    margin: 3px !important;
}

button.sm,
insert[type='button'].sm,
insert[type='submit'].sm,
.btn.sm{
    font-size: 1rem !important;
    margin: 1px !important;
}
